<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rbelcyr.kia.sol">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:vmSafeMode="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/kia_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Simulations.Balls.BallColorSortingActivity" />
        <activity android:name=".Activities.Simulations.HouseAlarmActivity" />
        <activity android:name=".Activities.Simulations.Balls.BallColorPatternActivity" />
        <activity android:name=".Activities.Simulations.HeatPlant.HeatPlantActivity" />
        <activity android:name=".Activities.Simulations.TrafficLights.TrafficLightsActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rbelcyr.kia.sol.Activities.MainActivity" />
        </activity>
    </application>

</manifest>